<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form>
            <textarea placeholder="What's new?"></textarea>
            <ul>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i
                class="fa fa-picture-o"></i></a></li>
            </ul>
            <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Post it!</button>
          </form>
        </div><!-- Status Upload  -->
      </div><!-- Widget Area -->
    </div>

  </div>
</div>
