.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.input-group {
  margin-bottom: 10px;
}

.separator {
  border-right: 1px solid #dfdfe0;
}

.facebook, .twitter {
  min-width: 170px;
}

.facebook {
  background-color: #354E84;
  color: #fff;
}

.twitter {
  background-color: #00A5E3;
  color: #fff;
}

.facebook:hover, .twitter:hover {
  color: #fff;
}
