<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2 hidden-xs">
        <img src="http://websamplenow.com/30/userprofile/images/avatar.jpg" class="img-responsive img-thumbnail ">
      </div>
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>User profile form requirement</legend>

          <!-- Text input-->


          <div class="form-group">
            <label class="col-md-4 control-label" for="Name (Full name)">Name (Full name)</label>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input id="Name (Full name)" name="Name (Full name)" type="text" placeholder="Name (Full name)"
                       class="form-control input-md">
              </div>


            </div>


          </div>

          <!-- File Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Upload photo">Upload photo</label>
            <div class="col-md-4">
              <input id="Upload photo" name="Upload photo" class="input-file" type="file">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Date Of Birth">Date Of Birth</label>
            <div class="col-md-4">

              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-birthday-cake"></i>

                </div>
                <input id="Date Of Birth" name="Date Of Birth" type="date" placeholder="Date Of Birth"
                       class="form-control input-md">
              </div>


            </div>
          </div>
          <!-- Text input-->

          <!-- Multiple Radios (inline) -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Gender">Gender</label>
            <div class="col-md-4">
              <label class="radio-inline" for="Gender-0">
                <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked">
                Male
              </label>
              <label class="radio-inline" for="Gender-1">
                <input type="radio" name="Gender" id="Gender-1" value="2">
                Female
              </label>
              <label class="radio-inline" for="Gender-2">
                <input type="radio" name="Gender" id="Gender-2" value="3">
                Other
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label col-xs-12" for="Permanent Address">City</label>
            <div class="col-md-4  col-xs-4">
              <input id="Permanent Address" name="Permanent Address" type="text" placeholder="City"
                     class="form-control input-md ">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Phone number ">Phone number </label>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone"></i>

                </div>
                <input id="Phone number " name="Phone number " type="tel" placeholder="Phone number "
                       class="form-control input-md">

              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Email Address">Email Address</label>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-envelope-o"></i>

                </div>
                <input id="Email Address" name="Email Address" type="email" placeholder="Email Address"
                       class="form-control input-md">

              </div>

            </div>
          </div>


          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Overview (max 200 words)">About me</label>
            <div class="col-md-4">
              <textarea class="form-control" rows="5" id="Overview (max 200 words)" name="Overview (max 200 words)"
                        placeholder="Overview"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Submit</a>
              <a href="#" class="btn btn-danger" value=""><span class="glyphicon glyphicon-remove-sign"></span>
                Clear</a>

            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>


</div>

